PORT=3000
COSMOS_CONNECTION_STRING=
COSMOS_DATABASE_NAME=
COSMOS_USERS_CONTAINER=
COSMOS_EVENTS_CONTAINER=
COSMOS_REGISTRATIONS_CONTAINER=
COSMOS_NOTIFICATIONS_CONTAINER=
JWT_SECRET=
JWT_EXPIRES_IN=
AZURE_STORAGE_CONNECTION_STRING=
REGISTRATION_NOTIFICATION_FUNCTION_URL=http://localhost:7071/api/registrationNotification
EVENT_UPDATE_NOTIFICATION_FUNCTION_URL=http://localhost:7071/api/eventUpdateNotification
# APPLICATIONINSIGHTS_CONNECTION_STRING= # Optional - monitoring is disabled locally if not set
